<html>
<body>
<p>
	<b>Username: <%= @newuser.username %></b>
</p>
        <b>Name: <%= @newuser.name %></b>
</p>
        <b>Shell: <%= @newuser.shell %></b>
</p>
        <b>Email: <%= @newuser.email %></b>
</p>
        <b>Phone: <%= @newuser.phone %></b>
</p>
</body>
</html>

